<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <u><i><h1>Built_in_Filters</h1></i></u>
        <!--<h2>{{data}}</h2>
        <h3>{{data|upper}}</h3>
        <h3>{{data|lower}}</h3>
        <h2>{{data|title}}</h2>
        <h2>{{data|capfirst}}</h2>
        <h3>{{data|slice:'5'}}</h3>
        <h2>{{data|truncatewords:'1'}}</h2>
        <h2>{{data|truncatechars:'8'}}</h2>
        <h2>{{data|truncatewords:'1'|slice:'2'}}</h2>
        <h2>{{data|truncatewords:'2'|upper}}</h2>
        <h2>{{data|truncatewords:'3'|lower}}</h2>-->


        <!--<h2>{{data|truncatechars:'3'|slice:'5'}}</h2>
        <h2>{{data|truncatechars:'4'|slice:'4'}}</h2>-->


        <h2>{{d1|date:'d F Y'}}</h2>
        <h2>{{d1|date:'D M Y'}}</h2>
        <h2>{{d1|date:'d M Y'}}</h2>
        <h2>{{d1|date:'h i A s D'}}</h2>

        <h1>I want {{c}} pen{{c|pluralize}}</h1>
        <h2>I want {{c}} pen{{c|pluralize:'s'}}</h2>
        <h2>This {{c}} marker {{c|pluralize:'is'}} Mine</h2>
        <h2>This {{c}} marker{{c|pluralize}} {{c|pluralize:'is,are'}} Mine</h2>
    </center>
</body>
</html>